
 P{
            
     color: rgb(255, 0, 144);
    }
 h1 {
            color: rgba(239, 11, 255, 0.962);
        }
 h2{
            
     color: #d168fa;
    }
 li {
            color: rgba(255, 117, 200, 0.962);
        }  
 h3 {
            color: rgba(215, 115, 153, 0.962);
        }         
